{
  "printWidth": 100,
  "singleQuote": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "useTabs": false,
  "jsxBracketSameLine": false,
  "parser": "babylon",
  "trailingComma": "all",
  "arrow-parens": "avoid"
}
